/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

@font-face {
  font-family:SigReg;
  src: url("Signika-Regular.otf")
}
@font-face {
  font-family:SigLig;
  src: url("Signika-Light.otf")
}

h1,h2,h3{
  font-family: SigReg;
  color:#FFFFFF;
}

html,body {
  background-color: #3aa1dd;
  height:99%;
  width:99%;
}

#container {
  width: 100%;
  height: 100%;
  margin: auto;
}

@media screen and (min-width: 980px) /* Desktop */ {


    #container {
      width: 100%;
      height: 100%;
      margin: auto;
    }
    #first {
      width: 40%;
      float: left;
      height: 90%;
      margin-left: 5%;
      margin-right: 5%;
      color:#FFFFFF;

    }
    #second {
      width: 50%;
      float: right;
      height: 90%;
    }
    #logo{
      height:30%;
      width:auto;
      margin-left: 10%;
      margin-right: 10%;
    }
    #logo_img{
      height:90%;
      width:auto;
      float:left;
      text-align:center;
      position:relative;
    }
    #logo_title{
      height:100%;
      width:auto;
      float:right;
      font-size: 400%;
      position: relative;
    }
    #subtitle{
      font-family: SigLig;
      height:10%;
      margin-left: 20%;
      margin-right: 20%;
      width:auto;
      white-space: nowrap ;
      text-align: :center;
    }
    #text{
      height:20%;
      width:auto;
      margin-left: 10%;
      margin-right: 10%;
      font-family: SigLig;
      background-color: :green;
    }
    #download{
      height:15%;
      width:auto;
      margin-left: 20%;
      margin-right: 20%;
      font-family: SigLig;
    }
    #gpb{
      height:100%;
      width:auto;
    }
    #sb{
      height:auto;
      width:100%;
    }
    #social{
      margin-top:10%;
      height:40%;
      width:100%;
    }
    #mapTitle{
      height:5%;
      width:100%;
    }
    #map-container{
      height:80%;
      width:100%;
    }
    #map {
      height: 90%;
      width: 90%;
      position: relative;

    }
    #statistics{
      height:15%;
      width:90%;
      background-color:#2f4858;
      font-family:SigReg;
    }
    .block{
      width:33%;
      height:100%;
      float:left;
    }
    .blockTitle{
      width:100%;
      height:40%;
      text-align:center;
      color:#FFFFFF
    }
    .blockValue{

      width:100%;
      height:60%;
      text-align:center;
      font-size:x-large;
      color:#3aa1dd
    }

}

@media screen and (max-width: 980px) /* Mobile */ {

  #first {
    width: 100%;
    height: 100%;
    color:#FFFFFF;
  }
  #second {
    width: 100%;
    height: 100%;
  }
  #logo{
    height:10%;
    width:100%;
  }
  #logo_img{
    height:auto;
    width:30%;
    float:left;
  }
  #logo_title{
    height:auto;
    width:60%;
    float:right;
    font-size:300%;
    text-align:center;
  }
  #subtitle{
    margin-bottom: 10%;
    font-family: SigLig;
    height:10%;
    width:100%;
    text-align: center;
  }
  #text{
    height:20%;
    width:auto;
    font-family: SigLig;
  }
  #download{
    height:20%;
    width:100%;
    text-align: center;
    font-family: SigLig;
  }
  #gpb{
    height:100%;
    width:auto;
  }
  #sb{
    height:auto;
    width:100%;
  }
  #social{
    height:30%;
    width:100%;
  }
  #mapTitle{
    height:10%;
    width:100%;
    text-align: center;
  }
  #map-container{
    height:80%;
    width:100%;
  }
  #map {
    height: 90%;
    width: 90%;
  }
  #statistics{
    height:10%;
    width:100%;
    background-color:#2f4858;
    font-family:SigReg;
  }
  .block{
    width:33%;
    height:auto;
    float:left;
  }
  .blockTitle{
    width:100%;
    height:40%;
    text-align:center;
    color:#FFFFFF
  }
  .blockValue{

    width:100%;
    height:60%;
    text-align:center;
    font-size:100%;
    color:#3aa1dd
  }


}
